html,
body {
    padding: 0;
    margin: 0;
    background-color: #f0f2f5;
}

body {
    padding: 10px 0 0 10px;
}

.layui-input {
    width: 50%;
}

.layui-input-block :nth-child(2) {
    margin: 10px 0 10px 0;
}